# OS and IDE files
.DS_Store
.settings
.project

# build and release files
/src
pkg
bin2
bin/i18n
bin/leanote-linux
bin/leanote-mac
bin/release
bin/tmp
bin/test
bin/src
node_modules
public/src/css
public/dist

# config files
conf/app.conf
conf/routes

# project specific
public/upload
app/routes/routes.go
app/tmp/main.go
public/config.codekit
files
